{% extends 'base.html.twig' %}

{% block title %}
{{ parent()}} Trouve un job en traversant la rue !
{% endblock %}


{% block body %}

<div class="jumbotron">
<h1>Bienvenue sur Street Cross</h1>
<p>Avec nous, trouvez un emploi rapidement !</p>
</div>

{% endblock %}
